// This file is included in the build if src/main.js imports it.
// Otherwise the default Material CSS file is bundled.
// Check "DEFAULT / CUSTOM STYLE" in src/main.js

// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the app.variables.styl file
@import 'app.variables'

// Quasar Material Design Stylus
// --------------------------------------------------
// Custom App variables must be declared before importing Quasar.
// Quasar will use its default values when a custom variable isn't provided.
@import '~quasar-framework/dist/quasar.mat.styl'

.af-field-set+.q-collapsible-closed .q-item-main
  border-bottom 1px solid $primary
.af-field-set .q-collapsible-sub-item
  padding-top: 0
.af-field-set-slot
  padding 4px 8px 4px 8px
  border 1px solid $primary
  background-color $teal-1
.af-field-set-slot .q-if
    font-size 14px
    min-height 16px
    margin-bottom 4px
    margin-top 4px
    padding-bottom: 3px
.af-field-set > .q-item
  min-height 20px
  padding-bottom 5px
  padding-top 0
.af-form-body
  height calc(100vh - 216px)
.af-base-form .q-card-primary
  padding: 10px 10px
.af-base-form .q-card-main
  padding: 10px 0
.af-base-form .q-card-actions
  padding-top 0
  padding-bottom  0
  border-top 1px solid $primary
.af-error-title
  color $yellow-12
.af-msd-btn
  padding 2px
